body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:41px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:54px;
  width:7px;
  height:41px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:54px;
  width:301px;
  height:41px;
  font-size:14px;
  color:#3498DB;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:41px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:105px;
  width:7px;
  height:41px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:105px;
  width:301px;
  height:41px;
  font-size:14px;
  color:#3498DB;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:41px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:156px;
  width:7px;
  height:41px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:156px;
  width:301px;
  height:41px;
  font-size:14px;
  color:#3498DB;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:41px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:207px;
  width:7px;
  height:41px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:207px;
  width:301px;
  height:41px;
  font-size:14px;
  color:#3498DB;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:41px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:258px;
  width:7px;
  height:41px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:258px;
  width:301px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:297px;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:334px;
  width:70px;
  height:26px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  color:#FFFFFF;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:66px;
  word-wrap:break-word;
}
