body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:801px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:380px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:801px;
  height:380px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
