<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>

    <form class="layui-form" lay-filter="example">
        <div class="layui-form-item">
            <label class="layui-form-label">基准事件</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
                    <option value=""></option>
                    <option value="0">门诊</option>
                    <option value="1">阅读</option>
                    <option value="2">游戏</option>
                    <option value="3">音乐</option>
                    <option value="4">旅行</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">筛选条件</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="本院"  >
                <input type="radio" name="sex" value="本科室" >
            </div>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="首次"  >
                <input type="radio" name="sex" value="末次" >
            </div>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="本就诊"  >
                <input type="radio" name="sex" value="任意就诊" >
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">起始</label>
                <div class="layui-input-block">
                    <input type="text" name="date" id="date" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

   </form>
</body>
</html>