body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:157px;
  background:inherit;
  background-color:rgba(168, 226, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:120px;
  width:950px;
  height:157px;
}
#u2070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:236px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:235px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:285px;
  width:950px;
  height:112px;
}
#u2074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:121px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:117px;
  word-wrap:break-word;
}
#u2076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:103px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:99px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:93px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:89px;
  word-wrap:break-word;
}
#u2078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:0px;
  width:171px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2078_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u2079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:34px;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:0px;
  width:203px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:199px;
  word-wrap:break-word;
}
#u2080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:0px;
  width:220px;
  height:34px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u2080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:216px;
  word-wrap:break-word;
}
#u2081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:39px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:34px;
  width:121px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u2083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:34px;
  width:103px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:34px;
  width:93px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u2085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:39px;
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:34px;
  width:171px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u2086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:34px;
  width:203px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2086_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u2087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:34px;
  width:220px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2087_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u2088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:39px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:73px;
  width:121px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u2090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:39px;
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:73px;
  width:103px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2090_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:39px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:73px;
  width:93px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u2092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:39px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:73px;
  width:171px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2092_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:167px;
  word-wrap:break-word;
}
#u2093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:39px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:73px;
  width:203px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u2094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:39px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:73px;
  width:220px;
  height:39px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:138px;
  width:120px;
  height:20px;
}
#u2095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:140px;
  width:52px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:236px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:235px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:235px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:236px;
  width:77px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:73px;
  word-wrap:break-word;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:300px;
  width:4px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:365px;
  width:4px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:331px;
  width:17px;
  height:16px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:170px;
  width:121px;
  height:20px;
}
#u2105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:172px;
  width:40px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:140px;
  width:40px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:138px;
  width:92px;
  height:22px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2108_input:disabled {
  color:grayText;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:138px;
  width:80px;
  height:20px;
}
#u2109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:139px;
  width:40px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:136px;
  width:92px;
  height:20px;
}
#u2111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:137px;
  width:40px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2112_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#003399;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:70px;
  width:120px;
  height:30px;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#003399;
}
#u2113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:105px;
  width:970px;
  height:1px;
}
#u2114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:141px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:139px;
  width:111px;
  height:20px;
}
#u2116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:411px;
  width:170px;
  height:25px;
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:411px;
  width:234px;
  height:25px;
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:167px;
  width:40px;
  height:18px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:165px;
  width:111px;
  height:22px;
}
#u2120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2120_input:disabled {
  color:grayText;
}
#u2121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
  background:inherit;
  background-color:rgba(197, 222, 237, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:60px;
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:33px;
  width:53px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:33px;
  width:27px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:33px;
  width:53px;
  height:17px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#1482CA;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:4px;
  width:230px;
  height:36px;
  font-family:'Calibri-Bold', 'Calibri Bold', 'Calibri';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#1482CA;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:41px;
  width:12px;
  height:8px;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:8px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:41px;
  width:12px;
  height:8px;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:10px;
  width:2px;
  height:22px;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:33px;
  width:53px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:52px;
  width:86px;
  height:128px;
  overflow:hidden;
  visibility:hidden;
}
#u2130_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:128px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2130_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:131px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:82px;
  height:125px;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:54px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:77px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:101px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:30px;
  width:78px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:6px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:52px;
  width:66px;
  height:52px;
  overflow:hidden;
  visibility:hidden;
}
#u2137_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:52px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:56px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:8px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:27px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#666666;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:60px;
  width:45px;
  height:16px;
  font-size:11px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:33px;
  width:79px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#6B6B6B;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
