<!DOCTYPE html>
<html>
  <head>
    <title>分组管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="layui/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="layui/layui.all.js"></script>

    <script type="text/javascript" src="layui/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="layui/plugins/angularjs/angular-animate.min.js"></script>
    <script type="text/javascript" src="layui/plugins/angularjs/toaster.min.js"></script>



    <script>
      var table = layui.table;

      $(function() {

        //加载表格数据
        table.render({
          elem: '#mytable', //绑定表格的id
          url:  '/findPage',
          width: 1100,
          method: 'post',
          cols: [
            [{
              type: 'checkbox', //复选框，用于选中多个条目
              fixed: 'left'
            }, {
              title: '序号',
              field: 'id',
              width: 60,
              type: 'id',
              fixed: 'left'
            }, {
              field: 'fName',
              title: '随访组名称',
              align: 'center', //字体居中
              width: 200
            }, {
              field: 'departmentPerson',
              title: '负责人',
              align: 'center', //字体居中
              width: 100
            }, {
              field: 'fstate',
              title: '状态',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'departmentId',
              title: '科室',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'createTime',
              title: '创建日期',
              align: 'center', //字体居中
              templet : "<div>{{layui.util.toDateString(d.sbj_start, 'yyyy-MM-dd HH:mm:ss')}}</div>",
              width: 250
            }, {
              width: 350,
              align: 'center',
              fixed: 'right',
              title: '操作',
              toolbar: '#myoperate'
            }]
          ],
          limits: [5, 10], //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
          limit: 5,
          page: true //是否开启分页
        });

      })

      table.on('tool(mytable)', function(obj) {

        //获取当前的JSON对象，可以通过data.属性获取对应的属性值
        var data = obj.data;
        console.log(data.diseaseId)
        //删除操作

        if(obj.event === 'delete') {


          layer.confirm('确认删除随访名为【' + data.fName + '】的记录吗？', {
            icon: 3,
            title: '提示'
          }, function(index) {

            $.ajax({
              url: "/delete", //地址
              type: "post", //请求类型  看1
              data: {
                id: data.id
              }, //要传的值，以键值对的形式存在
              success: function(q) { //data是变量，是服务器传到jsp的数据。相当于以前从Servlet转发到jsp

                if(q == "yes") {

                  layer.alert("删除成功！", function() {

                    //关闭弹框
                    layer.closeAll();
                    //重载表格数据
                    table.reload("mytable");

                    //删除当前行dom元素
                    //										obj.del();
                  })

                } else {
                  layer.alert("删除失败，请重试！")
                }

              }
            });

          });
        }


        //				跳转至修改页面
        if(obj.event === 'update') {

          window.location = "group_update.html?id=" + data.id;
        }


        //				跳转至诊疗方案页面
        if(obj.event === 'treatmentplan') {

          window.location = "treatment_plan.html?diseaseId=" + data.diseaseId;
        }

        //				跳转至第二种诊疗方案页面
        if(obj.event === 'treatmentplan1') {

          window.location = "treatment_plan1.html?diseaseId=" + data.diseaseId;
        }


      });

      //			跳转至新增页面
      var add = function() {
        window.location = "set_groups.html"
      }


    </script>



    <script type="text/javascript">
      function daoru(){
        var myf = new FormData();
        $.each($("#file")[0].files,function(index,item){  //循环获取需要的文件，
          console.log(item);
          myf.append('file',item);
        })

        $.ajax({
          url:"daoru",
          type:"post",
          data:myf,
          async:false,
          contentType:false,  //避免后台解析成字符串类型
          processData:false,

          success: function(result){
            alert(result);
            window.history.go(0);
          }
        });
      }



      function daochu(){
        window.location.href = "daochu";
      }
    </script>



  </head>

  <body class="layui-layui-body">

  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">分组管理</div>
    </div>



    <div class="layui-body">

      <div class="layui-card">
        <!-- 内容主体区域 -->

        <!--
                        作者：offline
                        时间：2020-08-06
                        描述：表格区域
                    -->
        <div class="layui-card-body">

          <input type="button" class="layui-btn layui-btn" value="新增" onclick="add()" />
          <input type="button" class="layui-btn layui-btn" value="导出" onclick="daochu()" data-toggle="modal" />
          <input type="file" multiple="multiple" name="file" id="file" style="width: 300px;height: 25px"/>
          <input type="button" class="layui-btn layui-btn" data-toggle="modal" value="导入" onclick="daoru()" />

          <table id="mytable" lay-filter="mytable"></table>

          <script type="text/html" id="myoperate">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="treatmentplan">第一种诊疗方案</a>
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="treatmentplan1">第二种诊疗方案</a>
          </script>

        </div>

      </div>

    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      <center>阳光嘉运科技有限公司&copy;2017-2019</center>
    </div>

  </div>

  </body>

</html>
