<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="layui/css/layui.css" />
  <link rel="stylesheet" href="css/test_java.css" />
  <title>layui</title>

</head>
<body>
<div class="juzhong_top">
  权限管理
</div>
<a  class="layui-icon layui-icon-return red_a" href="test.html">返回随访组</a>
<div class="fgx"></div>
<div class="juzhong">
  <div>用户名称：<input type="text" name="userName" /> &nbsp; &nbsp; &nbsp;&nbsp;备注：<input type="text" name="remarks" style="width: 500px;"/> </div>
  <button class="layui-btn layui-btn-normal button_submit" onclick="qinchu()" >清空</button>
  <button class="layui-btn layui-btn-normal button_submit" data-type="reload" id="retrieval" >检索</button>
</div>
<div class="fgx"></div>

<div id="selection_bar">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">新增</button>
  <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" onclick="updatePermission()">修改</button>
  <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">删除</button>
</div>

<table class="color_div_top" id="test1">

</table>


</body>
<script src="layui/jQuery/jquery-2.2.3.min.js" />
<script src="js/permission.js"></script>
<script src="layui/layui.js"></script>

<script type="text/javascript">
  layui.use("table",function(){
    var table = layui.table;
    var $ = layui.$;
    table.render({
      elem: '#test1'
      ,url:'queryGroupPermission'
      ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
      ,cols: [[
        {type:"checkbox"}
        ,{field:'level', title: '角色级别', sort: true,align: 'center'}
        ,{field:'roleName', title: '角色名称'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
        ,{title: '权限以及用户设定',align: 'center' ,templet:function(){
              return "<a href='groupmanagement' style='color: #3116ff'>设定权限用户</a>"
          }}
        ,{field:'userName', title: '用户' }
        ,{field:'jurisdiction', title: '权限'}
      ]]
      ,page:true
      ,id:"test"
    });
    $("#retrieval").click(function(){
      table.render('test',{
        where:{
          name:$("[name='userName']").val(),
          rem:$("[name='remarks']").val()
        }
      })
    })
  })

</script>

</html>
