

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="layui/css/layui.css"  media="all">
  <script src="layui/jQuery/jquery-2.2.3.min.js"></script>

  <script>
    function change(title){

      $('iframe').attr('src',title+'.html');
    }
  </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">随访管理系统</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="layui/images/face/0.gif" class="layui-nav-img">
          开发者
        </a>
        <dl class="layui-nav-child">
          <dd><a style="text-align: center;color: #3F3F3F">王春军<i class="layui-icon layui-icon-face-smile"></i></a></dd>
          <dd><a style="text-align: center;color: #3F3F3F">石帅军<i class="layui-icon layui-icon-face-smile"></i></a></dd>
          <dd><a style="text-align: center;color: #3F3F3F">李自豪<i class="layui-icon layui-icon-face-smile"></i></a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="loginout">退出</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="layui-icon layui-icon-face-smile" href="javascript:;">分组管理</a>
          <dl class="layui-nav-child">
            <dd ><a href="javascript:;" onclick="change('group_management')">分组管理</a></dd>
            <dd ><a href="javascript:;" onclick="change('set_groups')">建立分组</a></dd>
            <dd ><a href="javascript:;" onclick="change('join_group')">入组管理</a></dd>
            <dd ><a href="javascript:;" onclick="change('group_permission_management')">组内权限管理</a></dd>
            <dd ><a href="javascript:;" onclick="change('form_template_setting')">表单模板设置</a></dd>
            <dd ><a href="javascript:;" onclick="change('follow_rules')">随访规则</a></dd>
            <dd ><a href="javascript:;" onclick="change('treatment_plan')">诊疗方案</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item layui-nav-child" onclick="change('follow_progress_management')">随访进度管理</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('follow_records')">随访记录</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('overview_progress')">随访进度概览</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('follow_records_find')">随访查询</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('authority_management_all ')">全院权限管理</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('standardized_template_maintenance')">标准化模板维护</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('maintenance_standardized_terms')">标准化术语维护</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('eslitablishment_cdr')">CDR字典树建立</li>
        <li  class="layui-nav-item layui-nav-child" onclick="change('disease_type_database')">病种数据库</li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

      <iframe src="welcome" id="demoAdmin" style="width: 100%; height: 600px;" frameborder="0"></iframe>

      <br><br><br><br>

    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="layui/layui.js" charset="utf-8"></script>
<script>
  //JavaScript代码区域
  layui.use('element', function(){
    var element = layui.element;

  });
</script>
</body>
</html>
