<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="layui/css/layui.css"  media="all">
  <script src="layui/jQuery/jquery-2.2.3.min.js"></script>

  <script>
    function change(title){
      $('iframe').attr('src',title);
    }
  </script>
</head>
<body>
<script src="layui/layui.js" charset="utf-8"></script>
<div>
  <div>
    <ul class="layui-nav-tree" >
      <li><a href="/returntogroup">返回随访组</a> </li>
      <br><br>
      <li  type="button" class="layui-btn layui-btn-lg" onclick="change('grouprange')">入组范围</li>
      <br><br>
      <li type="button" class="layui-btn layui-btn-lg" onclick="change('grouptime')"> 入组时间</li>
      <br><br>
      <li type="button" class="layui-btn layui-btn-sm" onclick="change('groupcustom')"> 自定义患者 或导入文件入组</li>

    </ul>
  </div>
</div>
<div class="layui-body">
  <!-- 内容主体区域 -->
  <div style="padding: 15px;">

    <iframe src="grouprange" id="demoAdmin" style="width:100%; height: 500px;" frameborder="0"></iframe>

    <br><br><br><br>

  </div>
</div>

</div>
<script src="layui/layui.js" charset="utf-8"></script>

</body>
</html>
