<!DOCTYPE html>
<html>
<head>
    <title>建立分组</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>

    <link href="files/建立分组/styles.css" type="text/css" rel="stylesheet"/>
     <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <!--<script src="../static/resources/scripts/jquery-1.7.1.min.js"></script>-->
     <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <!--<script src="../static/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>-->
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/建立分组/data.js"></script>

    <script type="text/javascript" src="layui/layui.all.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function () {
            return 'resources/images/transparent.gif';
        };
        $axure.utils.getOtherPath = function () {
            return 'resources/Other.html';
        };
        $axure.utils.getReloadPath = function () {
            return 'resources/reload.html';
        };
    </script>
    <script>

        //		返回至分组管理页面
        var fanhui = function () {
            window.location = "group_management.html"
        }

    </script>
   <!--
    <script type="text/javascript">
        function shijian() {
            var sj = new Date();
            var year = sj.getFullYear();
            var month = sj.getMonth() + 1;
            var ri = sj.getDate();
            var hour = sj.getHours();
            var fen = sj.getMinutes();
            var miao = sj.getSeconds();
            var hour1;
            if (hour >= 10) {
                hour1 = hour;
            } else {
                hour1 = "0" + hour;
            }
            var fen1;
            if (fen >= 10) {
                fen1 = fen;
            } else {
                fen1 = "0" + fen;
            }
            var miao1;
            if (miao >= 10) {
                miao1 = miao;
            } else {
                miao1 = "0" + miao;
            }
            var sr = year + "/" + month + "/" + ri + "&nbsp; &nbsp; &nbsp; &nbsp;" + hour1 + ":" + fen1 + ":" + miao1;
            var nd = document.getElementById("createTime");
            nd.innerHTML = sr;
            setTimeout("shijian()", 1000);
        }

        setTimeout("shijian()", 0);
    </script>
-->
    <script type="text/javascript">
        var form = layui.form;

        //提交
        var saveEntity = function () {

            //责任科室（下拉框）
            var departmentId = $("#departmentId").val()

            //负责人（文本框）
            var departmentPerson = $("#departmentPerson").val()

            //创建时间
            //var createTime = $("#createTime").val

            //随访组名称
            var fName = $("#fName").val();

            //联系电话（文本框）
            var fphone = $("#fphone").val()

            //背景
            var fbackground = $("#fbackground").val()

            //状态（下拉框）
            var fstate = $("[name='fstate']:checked").val()

            //开始日期（date）
            //var fstratTime = $("#fstratTime").val()

            //结束日期（date）
            //var fendTime = $("#fendTime").val()


            /**
             * 开始校验
             */
            /* var errors = 0;

            if(departmentId == undefined){
                layer.alert("请选择责任科室 !!! ");
                errors++;
            }
            if (errors == 0 && departmentPerson == ""){
                layer.alert("请输入负责人并为数字 !!! ");
                errors++;
            }
            if (errors == 0 && fName == ""){
                layer.alert("请输入随访组名称 !!! ");
                errors++;
            }
            if (errors == 0 && fphone == ""){
                layer.alert("请输入联系电话 !!! ");
                errors++;
            }
            if (errors == 0 && fbackground == ""){
                layer.alert("请输入背景 !!! ");
                errors++;
            }
            if (errors == 0 && fstate == ""){
                layer.alert("请选择状态 !!! ");
                errors++;
            }
            if (errors == 0 && fstratTime == ""){
                layer.alert("请选择开始时间 !!! ");
                errors++;
            }
            if (errors == 0 && fendTime == ""){
                layer.alert("请选择结束时间 !!! ");
                errors++;
            }*/

            // 如果错误计数器为0， 则认为校验通过，可以提交给后台处理

            $.ajax({
                url: "/save",
                type: "post",
                data: {
                    departmentId: departmentId,
                    departmentPerson: departmentPerson,
                    //createTime: createTime,
                    fName: fName,
                    fphone: fphone,
                    fbackground: fbackground,
                    fstate: fstate
                    // fstratTime: fstratTime,
                    // fendTime: fendTime
                }, //要传的值，以键值对的形式存在
                success: function (data) { //data是变量，是服务器传到jsp的数据。相当于以前从Servlet转发到jsp

                    if (data == "yes") {

                        layer.alert("添加成功！", function () {
                            back();
                        })

                    } else {
                        layer.alert("添加失败，请重试！")
                    }

                }
            });


        }

        //返回
        var back = function() {
            window.location = "group_management.html"
        }
    </script>
</head>
<body>
<form class="layui-form">
    <div id="u106" class="ax_default paragraph">
        <p><span style="text-decoration:underline;">
            <input type="button" class="layui-btn layui-btn" value="返回随访组列表" onclick="fanhui()"/>
        </span></p>
    </div>

    <div style="margin-top: 100px;margin-left: 100px; ">
        <table id="table1" align="center" border="1" style="float:right;top:10px;right:10px;" >
            <tr>
                <td><label class="layui-form-label">责任科室：</label></td>
                <td>
                    <div class="layui-input-block" style="width: 150px;">
                        <select id="departmentId" style="margin-left: 10px;" >
                            <option></option>
                            <option value="1">内科</option>
                            <option value="2">外科</option>
                            <option value="3">妇科</option>
                            <option value="4">儿科</option>
                        </select>
                    </div>
                </td>
                <td>负责人：</td>
                <td><input id="departmentPerson" type="text" value=""/></td>
            </tr>

            <tr>
                <td>
                    <div class="text " style = "display:none">
                        <p><span>创建人 :</span></p>
                    </div>
                </td>
                <td>
                    <div class="text " style = "display:none">
                        <p>张三</p>
                    </div>
                </td>
                <!--
                <td>
                    <div class="text " style = "display:none">
                        <p><span>创建时间:</span></p>
                    </div>
                </td>
                <td>
                    <div id="u87_text" class="text " style = "display:none">
                        <p><span id="createTime"></span></p>
                    </div>
                </td>
                -->
            </tr>

            <tr>
                <td>随访组名称：</td>
                <td><input id="fName" type="text" value=""/></td>
                <td>联系电话：</td>
                <td><input id="fphone" type="text" value=""/></td>
            </tr>

            <tr>
                <td>背景：</td>

                <td><input id="fbackground" type="textarea" value=""/></td>

                <td>状态：</td>
                <td>
                    <div class="layui-input-block" style="width: 100px;">
                        <select id="fstate" >
                            <option></option>
                            <option value="0">开放</option>
                            <option value="1">关闭</option>
                        </select>
                    </div>
                </td>
            </tr>

            <!--
            <tr>
                <td>开始时间：</td>

                <td>
                    <input id="fstratTime" type="datetime" value="" placeholder="请选择日期">
                </td>

                <td>结束时间：</td>
                <td>
                    <input id="fendTime" type="date" value="" placeholder="请选择日期">
                </td>
            </tr>
    -->
            <tr>
                <td rowspan="2" align="center">
                    <div class="layui-input-block" align="center">
                        <button class="layui-btn" type="button" onclick="saveEntity()"> 保 存 </button>
                        <button class="layui-btn layui-btn-primary" type="reset"> 重 置 </button>
                        <button class="layui-btn" type="button" onclick="fanhui()"> 返 回 </button>
                    </div>
                </td>

            </tr>

        </table>
    </div>


</form>


</body>
</html>
