<!DOCTYPE html>
<html>
  <head>
    <title>建立分组</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/建立分组/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/建立分组/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u80" class="ax_default paragraph">
        <div id="u80_div" class=""></div>
        <div id="u80_text" class="text ">
          <p><span>责任科室：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u81" class="ax_default droplist">
        <select id="u81_input">
          <option value="请选择">请选择</option>
          <option value="血液科">血液科</option>
          <option value="肾内科">肾内科</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u82" class="ax_default paragraph">
        <div id="u82_div" class=""></div>
        <div id="u82_text" class="text ">
          <p><span>负责人 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u83" class="ax_default text_field">
        <input id="u83_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u84" class="ax_default paragraph">
        <div id="u84_div" class=""></div>
        <div id="u84_text" class="text ">
          <p><span>创建人 :</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u85" class="ax_default paragraph">
        <div id="u85_div" class=""></div>
        <div id="u85_text" class="text ">
          <p><span>张三</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u86" class="ax_default paragraph">
        <div id="u86_div" class=""></div>
        <div id="u86_text" class="text ">
          <p><span>创建时间:</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u87" class="ax_default paragraph">
        <div id="u87_div" class=""></div>
        <div id="u87_text" class="text ">
          <p><span>&nbsp;2015-09-07&nbsp;&nbsp; 13:30</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u88" class="ax_default paragraph">
        <div id="u88_div" class=""></div>
        <div id="u88_text" class="text ">
          <p><span>名称 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u89" class="ax_default text_field">
        <input id="u89_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u90" class="ax_default paragraph">
        <div id="u90_div" class=""></div>
        <div id="u90_text" class="text ">
          <p><span>联系电话 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u91" class="ax_default text_field">
        <input id="u91_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u92" class="ax_default paragraph">
        <div id="u92_div" class=""></div>
        <div id="u92_text" class="text ">
          <p><span>背景 :</span></p>
        </div>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u93" class="ax_default text_area">
        <textarea id="u93_input"></textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u94" class="ax_default paragraph">
        <div id="u94_div" class=""></div>
        <div id="u94_text" class="text ">
          <p><span>状态:</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u95" class="ax_default droplist">
        <select id="u95_input">
          <option value="请选择">请选择</option>
          <option value="开放">开放</option>
          <option value="关闭">关闭</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u96" class="ax_default paragraph">
        <div id="u96_div" class=""></div>
        <div id="u96_text" class="text ">
          <p><span>开始日期 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u97" class="ax_default text_field">
        <input id="u97_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u98" class="ax_default paragraph">
        <div id="u98_div" class=""></div>
        <div id="u98_text" class="text ">
          <p><span>结束日期:</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u99" class="ax_default text_field">
        <input id="u99_input" type="text" value=""/>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u100" class="ax_default horizontal_line">
        <img id="u100_img" class="img " src="images/分组管理/u49.png"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u101" class="ax_default shape">
        <div id="u101_div" class=""></div>
        <div id="u101_text" class="text ">
          <p><span>保 存</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u102" class="ax_default paragraph">
        <div id="u102_div" class=""></div>
        <div id="u102_text" class="text ">
          <p><span>责任医院 :</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u103" class="ax_default droplist">
        <select id="u103_input">
          <option value="请选择">请选择</option>
          <option value="江苏省人民医院">江苏省人民医院</option>
          <option value="北医三院">北医三院</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u104" class="ax_default paragraph">
        <div id="u104_div" class=""></div>
        <div id="u104_text" class="text ">
          <p><span>级别：</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u105" class="ax_default droplist">
        <select id="u105_input">
          <option value="请选择">请选择</option>
          <option value="国家级">国家级</option>
          <option value="省/市级">省/市级</option>
          <option value="院级">院级</option>
          <option value="科室级">科室级</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u106" class="ax_default paragraph">
        <div id="u106_div" class=""></div>
        <div id="u106_text" class="text ">
          <p><span style="text-decoration:underline;">返回随访组列表</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u107" class="ax_default image">
        <img id="u107_img" class="img " src="images/建立分组/u107.png"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u108" class="ax_default paragraph">
        <div id="u108_div" class=""></div>
        <div id="u108_text" class="text ">
          <p><span>*新建时隐藏</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u109" class="ax_default paragraph">
        <div id="u109_div" class=""></div>
        <div id="u109_text" class="text ">
          <p><span>*新建时隐藏</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u110" class="ax_default paragraph">
        <div id="u110_div" class=""></div>
        <div id="u110_text" class="text ">
          <p><span>课题编号 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u111" class="ax_default text_field">
        <input id="u111_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u112" class="ax_default paragraph">
        <div id="u112_div" class=""></div>
        <div id="u112_text" class="text ">
          <p><span>患者数量:</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u113" class="ax_default text_field">
        <input id="u113_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u114" class="ax_default paragraph">
        <div id="u114_div" class=""></div>
        <div id="u114_text" class="text ">
          <p><span>对照组 :</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u115" class="ax_default text_field">
        <input id="u115_input" type="text" value="实验组、对照组"/>
      </div>
    </div>
  </body>
</html>
