<!DOCTYPE html>
<html>
  <head>
    <title>标准化模板维护</title>

    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="layui/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="layui/layui.all.js"></script>

    <script type="text/javascript" src="layui/plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="layui/plugins/angularjs/angular-animate.min.js"></script>
    <script type="text/javascript" src="layui/plugins/angularjs/toaster.min.js"></script>


    <!--<script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>-->

    <script>
      var table = layui.table;

      $(function () {

        //加载表格数据
        table.render({
          elem: '#mytable', //绑定表格的id
          url: '/gettemplate',
          width: 1100,
          method: 'get',
          cols: [
            [{
              title: '序号',
              field: 'id',
              width: 60,
              type: 'id',
              fixed: 'left'
            }, {
              field: 'name',
              title: '模板名称',
              align: 'center', //字体居中
              width: 200
            }, {
              field: 'version',
              title: '版本号',
              align: 'center', //字体居中
              width: 100
            }, {
              field: 'modifyMan',
              title: '更改者',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'modifyTime',
              title: '更改时间',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'creationTime',
              title: '创建时间',
              align: 'center', //字体居中
              width: 150
            }]
          ],
          limits: [5, 10], //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
          limit: 5,
          page: true //是否开启分页
        });

      })


      table.on('tool(mytable)', function (obj) {

        //获取当前的JSON对象，可以通过data.属性获取对应的属性值
        var data = obj.data;
        console.log(data.id)





      })
    </script>

    <!-- 模糊查询 + 分页 -->
    <script type="text/javascript">
      //加载表格数据
      var loadData = function() {

        var name = $("#name").val()
        var modifyMan = $("#modifyMan").val()

        //加载表格数据
        table.render({
          elem: '#mytable', //绑定表格的id
          url: '/findByConditions',
          width: 1100,
          method: 'get',
          where: {
            name: name,
            modifyMan: modifyMan
          },
          cols: [
            [{
              title: '序号',
              field: 'id',
              width: 60,
              type: 'id',
              fixed: 'left'
            }, {
              field: 'name',
              title: '模板名称',
              align: 'center', //字体居中
              width: 200
            }, {
              field: 'content',
              title: 'JIBEN',
              align: 'center', //字体居中
              width: 200
            }, {
              field: 'version',
              title: '版本号',
              align: 'center', //字体居中
              width: 100
            }, {
              field: 'modifyMan',
              title: '更改者',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'modifyTime',
              title: '更改时间',
              align: 'center', //字体居中
              width: 150
            }, {
              field: 'creationTime',
              title: '创建时间',
              align: 'center', //字体居中
              width: 150
            }, {
              width: 250,
              align: 'center',
              fixed: 'right',
              title: '操作',
              toolbar: '#myoperate'
            }]
          ],
          limits: [5, 10], //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
          limit: 5,
          page: true //是否开启分页
        });

      }

    </script>

    <script type="text/javascript">
      //跳转增加页面
      function addTemplate() {
        window.location = "template_add.html";
      }
    </script>
  </head>


  <body class="layui-layui-body">

  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">标准化模板维护</div>
    </div>


    <div class="layui-body">

      <div class="layui-card">
        <!-- 内容主体区域 -->
        <div class="layui-card-body">

          <form class="layui-form" action="">

            <div>
              <label class="layui-form-label">模板名称：</label>
              <div class="layui-inline">
                <input class="layui-input" name="name" id="name"
                       autocomplete="off" placeholder="请输入参数：">
              </div>
            </div>
            <div>
              <label class="layui-form-label">更改者：</label>
              <div class="layui-inline">
                <input class="layui-input" name="modifyMan" id="modifyMan" autocomplete="off"
                       placeholder="请输入参数：">
              </div>
            </div>

            <!--按钮-->
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" type="button" onclick="loadData()">查询</button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
              </div>
            </div>
          </form>
          <br>
          <div>
            <input type="button" class="layui-btn layui-btn" value="新增模板" onclick="addTemplate()"/>
          </div>
          <table id="mytable" lay-filter="mytable"></table>


        </div>

      </div>

    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      <center>阳光嘉运科技有限公司&copy;2017-2019</center>
    </div>

  </div>


  </body>
</html>
