<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>诊疗方案</title>


    <link rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/jQuery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="layui/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="layui/layui.all.js"></script>

    <script>

        var a;
        var form = layui.form;
        var laydate = layui.laydate;
        $(function () {
            laydate.render({
                elem: '#mydate', //指定元素
                type: 'date' //日期
            });
            //获取要查询的id
            var search = window.location.search;
            var searchArray = search.split("=");
            disease_id = searchArray[1];
            a = disease_id;
            $.ajax({
                url: "/findBydid", //地址
                type: "post", //请求类型
                data: {
                    diseaseId: disease_id
                }, //要传的值，以键值对的形式存在
                success: function (data) { //data是变量，是服务器传到jsp的数据。相当于以前从Servlet转发到jsp
                    var t = JSON.parse(data);
                    var k = 0;
                    /*if (t.length>=1){
                      for (var i = 0; i < t.length; i++) {
                        k = k+i;
                        return k;
                      }
                    }else{
                      return k;
                    }
                    alert(k);*/
                    //console.log("k"+k);
                    // 诊疗方案id
                    $("#id").val(t[k].id);

                    //诊疗方案名称
                    $("#treatname").val(t[k].treatname);

                    //用药
                    $("#medication").val(t[k].medication);

                    //检查
                    $("#examination").val(t[k].examination);

                    //治疗
                    $("#treatment").val(t[k].treatment);

                    //手术
                    $("#operation").val(t[k].operation);

                    //通知
                    $("#notice").val(t[k].notice);

                    //建议
                    $("#suggestion").val(t[k].suggestion);

                    $("#diseaseId").val(t[k].disease_id);

                    //初始化表单
                    form.render();

                }
            });

        })




    </script>

    <script>

        //		返回至分组管理页面
        var fanhui = function () {
            window.location = "group_management.html"
        }



        //
        var down1 = function () {
            window.location = "treatment_plan1.html?diseaseId="+disease_id;
        }


        function myFunction(){
            setTimeout(function(){
                alert("请更换诊疗方案")
            },60000*2);
        }

    </script>


</head>
<body>


<form class="layui-form" style="width: 400px;">

    <div class="modal-body">
        <table class="table table-bordered table-striped">

            <input type="hidden" name="disease_id" id="diseaseId"/>

            <tr>
                <td>诊疗方案id</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="id"/></td>
            </tr>
            <tr>
                <td>诊疗方案名称</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="treatname"/></td>
            </tr>
            <tr>
                <td>用药</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="medication"/></td>
            </tr>
            <tr>
                <td>检查</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="examination"/></td>
            </tr>
            <tr>
                <td>治疗</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="treatment"/></td>
            </tr>
            <tr>
                <td>手术</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="operation"/></td>
            </tr>
            <tr>
                <td>通知</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="notice"/></td>
            </tr>
            <tr>
                <td>建议</td>
                <td><input class="layui-input" type="text" disabled="disabled" id="suggestion"/></td>
            </tr>

        </table>

    </div>

    <div class="modal-footer">
        <button class="layui-btn" type="button" onclick="fanhui()"> 返 回</button>

        <button class="layui-btn" type="button" onclick="myFunction()">诊疗方案开始执行</button>
        <button class="layui-btn" type="button" onclick="down1()">下一建议</button>
        <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="down1">下一建议</a>-->
    </div>


</form>


</body>
</html>