<!DOCTYPE html>
<html>
  <head>
    <title>诊疗方案</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/诊疗方案/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/诊疗方案/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u928" class="ax_default paragraph">
        <div id="u928_div" class=""></div>
        <div id="u928_text" class="text ">
          <p><span>诊疗方案</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u929" class="ax_default horizontal_line">
        <img id="u929_img" class="img " src="images/分组管理/u49.png"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u930" class="ax_default shape">
        <div id="u930_div" class=""></div>
        <div id="u930_text" class="text ">
          <p><span>诊疗方案名称1</span></p>
        </div>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u931" class="ax_default vertical_line">
        <img id="u931_img" class="img " src="images/入组管理/u293.png"/>
      </div>

      <!-- dp1 (动态面板) -->
      <div id="u932" class="ax_default" data-label="dp1">
        <div id="u932_state0" class="panel_state" data-label="方案1" style="">
          <div id="u932_state0_content" class="panel_state_content">

            <!-- Unnamed (表格) -->
            <div id="u933" class="ax_default">

              <!-- Unnamed (单元格) -->
              <div id="u934" class="ax_default table_cell">
                <img id="u934_img" class="img " src="images/诊疗方案/u934.png"/>
                <div id="u934_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">1</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 用药</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u935" class="ax_default table_cell">
                <img id="u935_img" class="img " src="images/诊疗方案/u935.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u936" class="ax_default table_cell">
                <img id="u936_img" class="img " src="images/诊疗方案/u936.png"/>
                <div id="u936_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">2</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">.</span><span style="font-family:'Arial Normal', 'Arial';"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">检验</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u937" class="ax_default table_cell">
                <img id="u937_img" class="img " src="images/诊疗方案/u937.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u938" class="ax_default table_cell">
                <img id="u938_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u938_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">3</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 检查</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u939" class="ax_default table_cell">
                <img id="u939_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u940" class="ax_default table_cell">
                <img id="u940_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u940_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">4. </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">治疗</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u941" class="ax_default table_cell">
                <img id="u941_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u942" class="ax_default table_cell">
                <img id="u942_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u942_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">5</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 手术</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u943" class="ax_default table_cell">
                <img id="u943_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u944" class="ax_default table_cell">
                <img id="u944_img" class="img " src="images/诊疗方案/u944.png"/>
                <div id="u944_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">6</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 通知</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u945" class="ax_default table_cell">
                <img id="u945_img" class="img " src="images/诊疗方案/u945.png"/>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u946" class="ax_default paragraph">
              <div id="u946_div" class=""></div>
              <div id="u946_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">降糖药</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u947" class="ax_default paragraph">
              <div id="u947_div" class=""></div>
              <div id="u947_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">②</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">降压药</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u948" class="ax_default paragraph">
              <div id="u948_div" class=""></div>
              <div id="u948_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">③</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">利尿剂</span><span style="font-family:'Arial Normal', 'Arial';"> </span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u949" class="ax_default paragraph">
              <div id="u949_div" class=""></div>
              <div id="u949_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">血常规</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u950" class="ax_default paragraph">
              <div id="u950_div" class=""></div>
              <div id="u950_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">②</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">尿常规</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u951" class="ax_default paragraph">
              <div id="u951_div" class=""></div>
              <div id="u951_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">胸外科CT</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u952" class="ax_default paragraph">
              <div id="u952_div" class=""></div>
              <div id="u952_text" class="text ">
                <p><span>治疗方案说明</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u953" class="ax_default paragraph">
              <div id="u953_div" class=""></div>
              <div id="u953_text" class="text ">
                <p><span>手术术式说明</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u954" class="ax_default paragraph">
              <div id="u954_div" class=""></div>
              <div id="u954_text" class="text ">
                <p><span>通知明细</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u932_state1" class="panel_state" data-label="方案2" style="visibility: hidden;">
          <div id="u932_state1_content" class="panel_state_content">

            <!-- Unnamed (表格) -->
            <div id="u955" class="ax_default">

              <!-- Unnamed (单元格) -->
              <div id="u956" class="ax_default table_cell">
                <img id="u956_img" class="img " src="images/诊疗方案/u934.png"/>
                <div id="u956_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">1</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 用药</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u957" class="ax_default table_cell">
                <img id="u957_img" class="img " src="images/诊疗方案/u935.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u958" class="ax_default table_cell">
                <img id="u958_img" class="img " src="images/诊疗方案/u936.png"/>
                <div id="u958_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">2</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">.</span><span style="font-family:'Arial Normal', 'Arial';"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">检验</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u959" class="ax_default table_cell">
                <img id="u959_img" class="img " src="images/诊疗方案/u937.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u960" class="ax_default table_cell">
                <img id="u960_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u960_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">3</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 检查</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u961" class="ax_default table_cell">
                <img id="u961_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u962" class="ax_default table_cell">
                <img id="u962_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u962_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">4. </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">治疗</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u963" class="ax_default table_cell">
                <img id="u963_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u964" class="ax_default table_cell">
                <img id="u964_img" class="img " src="images/诊疗方案/u938.png"/>
                <div id="u964_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">5</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 手术</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u965" class="ax_default table_cell">
                <img id="u965_img" class="img " src="images/诊疗方案/u939.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u966" class="ax_default table_cell">
                <img id="u966_img" class="img " src="images/诊疗方案/u944.png"/>
                <div id="u966_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">6</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 通知</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u967" class="ax_default table_cell">
                <img id="u967_img" class="img " src="images/诊疗方案/u945.png"/>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u968" class="ax_default paragraph">
              <div id="u968_div" class=""></div>
              <div id="u968_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">消炎药</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u969" class="ax_default paragraph">
              <div id="u969_div" class=""></div>
              <div id="u969_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">②</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">感冒药</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u970" class="ax_default paragraph">
              <div id="u970_div" class=""></div>
              <div id="u970_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">③</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">止疼片</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u971" class="ax_default paragraph">
              <div id="u971_div" class=""></div>
              <div id="u971_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">血常规</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u972" class="ax_default paragraph">
              <div id="u972_div" class=""></div>
              <div id="u972_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">②</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">尿常规</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u973" class="ax_default paragraph">
              <div id="u973_div" class=""></div>
              <div id="u973_text" class="text ">
                <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">①</span><span style="font-family:'Arial Normal', 'Arial';">&nbsp; &nbsp;&nbsp; </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">B超</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u974" class="ax_default paragraph">
              <div id="u974_div" class=""></div>
              <div id="u974_text" class="text ">
                <p><span>治疗方案说明</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u975" class="ax_default paragraph">
              <div id="u975_div" class=""></div>
              <div id="u975_text" class="text ">
                <p><span>手术术式说明</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u976" class="ax_default paragraph">
              <div id="u976_div" class=""></div>
              <div id="u976_text" class="text ">
                <p><span>通知明细</span></p>
              </div>
            </div>
          </div>
        </div>
        <div id="u932_state2" class="panel_state" data-label="新增" style="visibility: hidden;">
          <div id="u932_state2_content" class="panel_state_content">

            <!-- Unnamed (表格) -->
            <div id="u977" class="ax_default">

              <!-- Unnamed (单元格) -->
              <div id="u978" class="ax_default table_cell">
                <img id="u978_img" class="img " src="images/诊疗方案/u978.png"/>
                <div id="u978_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">1</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 用药</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u979" class="ax_default table_cell">
                <img id="u979_img" class="img " src="images/诊疗方案/u979.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u980" class="ax_default table_cell">
                <img id="u980_img" class="img " src="images/诊疗方案/u980.png"/>
                <div id="u980_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">2</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">.</span><span style="font-family:'Arial Normal', 'Arial';"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">检验</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u981" class="ax_default table_cell">
                <img id="u981_img" class="img " src="images/诊疗方案/u981.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u982" class="ax_default table_cell">
                <img id="u982_img" class="img " src="images/诊疗方案/u982.png"/>
                <div id="u982_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">3</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 检查</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u983" class="ax_default table_cell">
                <img id="u983_img" class="img " src="images/诊疗方案/u983.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u984" class="ax_default table_cell">
                <img id="u984_img" class="img " src="images/诊疗方案/u984.png"/>
                <div id="u984_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">4. </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">治疗</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u985" class="ax_default table_cell">
                <img id="u985_img" class="img " src="images/诊疗方案/u985.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u986" class="ax_default table_cell">
                <img id="u986_img" class="img " src="images/诊疗方案/u986.png"/>
                <div id="u986_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">5</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 手术</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u987" class="ax_default table_cell">
                <img id="u987_img" class="img " src="images/诊疗方案/u987.png"/>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u988" class="ax_default table_cell">
                <img id="u988_img" class="img " src="images/诊疗方案/u988.png"/>
                <div id="u988_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">6</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">. 通知</span></p>
                </div>
              </div>

              <!-- Unnamed (单元格) -->
              <div id="u989" class="ax_default table_cell">
                <img id="u989_img" class="img " src="images/诊疗方案/u989.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u990" class="ax_default paragraph">
        <div id="u990_div" class=""></div>
        <div id="u990_text" class="text ">
          <p><span style="text-decoration:underline;">返回随访组</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u991" class="ax_default image">
        <img id="u991_img" class="img " src="images/建立分组/u107.png"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u992" class="ax_default shape">
        <div id="u992_div" class=""></div>
        <div id="u992_text" class="text ">
          <p><span>方案2</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u993" class="ax_default horizontal_line">
        <img id="u993_img" class="img " src="images/分组管理/u49.png"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u994" class="ax_default image">
        <img id="u994_img" class="img " src="images/自定义控件属性/u613.png"/>
      </div>
    </div>
  </body>
</html>
