<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="layui/jQuery/echarts.min.js"></script>
</head>
<body>

<div id="main" style="width: 600px;height:400px;"></div>


<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));

    var option = {
        title: {
            text: '欢迎'
        },
        tooltip: {},
        legend: {
            data:['hello']
        },
        xAxis: {
            data: ["注册用户","患者","入组患者","治疗方案","表单模板"]
        },
        yAxis: {},
        series: [{
            name: 'hello',
            type: 'bar',
            data: [30, 25, 5, 10, 6]
        }]
    };

    myChart.setOption(option);
</script>
</body>
</html>