<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:10px/100% Arial, Helvetica, sans-serif, "新宋体";}
.container{width:560px;margin:0 auto;}
</style>

<link rel="stylesheet" href="rili/css/style.css">

<!--必要样式-->
<link rel="stylesheet" href="rili/css/fullcalendar.css">
<link rel="stylesheet" href="rili/css/fullcalendar.print.css" media='print'>
<script type="text/javascript" src="rili/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="rili/js/fullcalendar.min.js"></script>
<script type="text/javascript" src="rili/js/script.js"></script>


</head>
<body>
<a style="color: #0000CC" href="/follow_progress_management" >切换到列表视图</a>

<div class="container">
	<div class="content">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-head">
						<h3>随访进度 日历图</h3>
					</div>
					<div class="box-content box-nomargin">
						<div class="calendar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>