<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.follow.mapper.FollowUpPorgressMapper">


    <select id="selectList" resultType="com.follow.vo.FollowUpProgressVO">

    SELECT j.group_name groupName ,group_time groupTime,o.condition,next_date nextDate,p.id ,patient_name name,adminssionnumber,outpaientnumber,sex,birthday
     FROM join_group j,join_group_progress o,patient p
     where p.is_joingroup = 0 and p.id = j.patient_control_id and p.id  =o.patient_id
        <if test="beginDate !=null and beginDate !=''">
            <!-- and j.group_time BETWEEN '#{beginDate}' AND '#{endDate}'
            and o.next_date BETWEEN '#{beginDate}' AND '#{endDate}'-->
            and j.group_time  &gt;  #{beginDate}
            and o.next_date &gt;  #{beginDate}
        </if>
        <if test="endDate !=null and endDate !=''">
            and j.group_time &lt;  #{endDate}
            and o.next_date  &lt;  #{endDate}
        </if>
       <if test="departmentId !=null and departmentId !='' ">
           and p.department_id = #{departmentId}
       </if>
        <if test="groupName !=null and groupName !='' ">
            and j.group_name = #{groupName}
        </if>
        <if test="adminssionnumber !=null and adminssionnumber !='' ">
            and p.adminssionnumber = #{adminssionnumber}
        </if>
        <if test="patientName !=null and patientName !='' ">
            and p.patient_name = #{patientName}
        </if>
        <if test="condition !=null and condition !='' ">
            and o.condition = #{condition}
        </if>
    LIMIT #{startPage} ,#{limit}
    </select>
</mapper>